.box-div{
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin-left: 590px;
    margin-top: 200px;
}
.top{
    padding-left: 20px;
    padding-top: 50px;
}
.heading{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
